<div class="bSubBlock">
    <h3 class="lbHeader"><%= t(:my_task) + "(" + my_tasks_count + ")" %></h3>
    <div class="lbBody">
      <ul>
        <%= raw(my_tasks_list) %>
      </ul>
    </div>
    <div class="quickCreateField">
      <div class="button"><%= link_to t(:label_irm_wf_task_new), {:controller => "irm/wf_tasks", :action => "new"} %></div>
      <div style="float:right;"><%= link_to t(:more) + "...", {:controller => "irm/wf_tasks", :action => "my_tasks_index"} %></div><br>
    </div>
</div>