<div class="bPageTitle">
  <div class="ptBody">
    <div class="content">
      <h1 class="pageType"></h1>
      <h2 class="pageDescription"><%= t(:label_irm_permission) %></h2>
      <div class="blank">&nbsp;</div>
    </div>
    <div class="links">
      <a href="javascript:void(0);" class="configLinks">此页面的帮助</a>
    </div>
    <div class="ptBreadcrumb"></div>
  </div>
</div>
<div class="filterOverview">
    <div class="bFilterView">
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;" for="fcf">视图：</label>
        <span class="fBody">
            <select title="视图：" name="fcf" id="fcf">
                <option selected="selected" value="">全部客户</option>
                <option value="">我的客户</option>
                <option value="">新建本周</option>
                <option value="">最近已查看客户</option>
            </select>
            <input type="button" title="转至！" name="go" class="btn" value=" 转至！ ">
        </span>
        <span class="fFooter">
          <a href="javascript:void(0);">编辑</a> |
          <a href="javascript:void(0);">创建新视图</a>
        </span>
      </span>
    </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_permission_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <select title="显示所选内容" name="hotlist_mode" id="hotlist_mode"><option value="2">最近创建</option>
                <option value="1">最近修改</option>
                <option selected="selected" value="3">最近查看</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="pizza" class="datatable" style="width:100%"></div>
        <%= datatable("pizza",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"product_module_name",:label=>t(:label_irm_permission_product_name),:sortable=>true},
                   {:key=>"permission_code",:label=>t(:label_irm_permission_permission_code),:sortable=>true},
                   {:key=>"name",:label=>t(:label_irm_permission_name),:sortable=>true},
                   {:key=>"page_controller",:label=>t(:label_irm_permission_page_controller),:sortable=>true},
                   {:key=>"page_action",:label=>t(:label_irm_permission_page_action),:sortable=>true},
                   {:key=>"status_code",:label=>t(:label_irm_permission_status_code),:sortable=>true}])%>
      </div>
    </div>
</div>
<table class="toolsContent">
    <tbody>
        <tr>
          <td>
            <div class="toolsContentLeft">
              <div class="bSubBlock">
                <h3 class="lbHeader">报表</h3>
                <div class="lbBody">
                  <ul>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                  </ul>
                </div>
                <div class="lbBody">
                  <div class="mainLink">
                    <a href="javascript:void(0);">转至报表</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="toolsContentRight">
              <div class="bSubBlock">
                <h3 class="lbHeader">报表</h3>
                <div class="lbBody">
                  <ul>
                    <li><a href="javascript:void(0);">导入我的组织的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">导入我的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">批量删除客户</a></li>
                    <li><a href="javascript:void(0);">转移客户</a></li>
                    <li><a href="javascript:void(0);">合并客户</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
</table>