<div id="pizza" class="datatable" style="width:100%"></div>
<%= datatable("pizza",url_for(:action=>"get_data",:format=>"json"),
              [{:key=>"product_module_name",:label=>t(:label_irm_permission_product_name),:sortable=>true},
               {:key=>"permission_code",:label=>t(:label_irm_permission_permission_code),:sortable=>true},
               {:key=>"name",:label=>t(:label_irm_permission_name),:sortable=>true},
               {:key=>"page_controller",:label=>t(:label_irm_permission_page_controller),:sortable=>true},
               {:key=>"page_action",:label=>t(:label_irm_permission_page_action),:sortable=>true},
               {:key=>"status_code",:label=>t(:label_irm_permission_status_code),:sortable=>true}])%>

<style type="text/css">
  .datatable table{
      width:100%;
  }
</style>