<style type="text/css">
  body .bPageTitle .ptBody h1.noSecondHeader {
    color: #000000;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 9px;
}
</style>
<div class="bPageTitle">
  <div class="ptBody secondaryPalette">
    <div class="content">
      <img title="" class="pageTitleIcon" alt="" src="/s.gif">
      <h1 class="pageType noSecondHeader"><%=menu_entry_name(params[:mi])%></h1>
      <div class="blank">&nbsp;</div>
    </div><div class="links">

  </div></div>
  <div class="ptBreadcrumb">

  </div>
</div>
<% sub_entries(params[:mc]).each do |en| %>
<div class="listRelatedObject setupBlock">
  <div class="bTask">
      <div class="bPageBlock">
          <div class="pbHeader">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"><h2 class="mainTitle"><%=menu_entry_name(en[:menu_entry_id])%></h2></td>
                  <td id="topButtonRow" class="pbButton">
                  </td>
                  <td class="pbHelp">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
              <div class="pbBody">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="setupOverview">
                  <tbody>
                  <%= generate_entries_table(en[:menu_code]) %>
                  </tbody>
                </table>
             </div>
      </div>
  </div>
</div>
<% end %>