<div id="banner"></div>
<div id="toptoolbar" zone="toptoolbarcontent">
	<div class="floatleft jtabcontainer">

    </div>
    <div class="floatright">
        <div class="toptoolbarbtn"><a href="javascript:void(0);"><%= Irm::Identity.current.full_name%></a></div>
        <div class="toptoolbarsep"></div>
        <div class="toptoolbarbtn"><a href="/logout"><%=t(:label_irm_common_logout)%></a></div>
        <div class="toptoolbarsep"></div>
        <div class="toptoolbarbtn">帮助</div>
    </div>
</div>
<div id="toptoolbarcontent">
</div>
