<script>
$(document).ready(function(){
    //alert($('.jtabcontainer > .jtabitem').find('a').length);
    $('#toptoolbar').astab();
});

</script>
<div id="banner"></div>
<div id="toptoolbar" zone="toptoolbarcontent">
	<div class="floatleft jtabcontainer">
      <%= sub_entries('IRM_ENTRANCE_MENU').each do |menu_item|%>
    	<div class="toptoolbarbtn jtabitem">
        	<div><%=link_to menu_item[:name],{:controller=>menu_item[:page_controller],:action=>menu_item[:page_action],:menu_code=>menu_item[:menu_code],:menu_entry_id=>menu_item[:menu_entry_id]}%></div>
        </div>
    	<div class="toptoolbarsep"></div>
      <%end%>
    </div>
    <div class="floatright">
        <div class="toptoolbarbtn"><a href="javascript:void(0);">ivanmarkliu</a></div>
        <div class="toptoolbarsep"></div>
        <div class="toptoolbarbtn"><a href="/logout">退出系统</a></div>
        <div class="toptoolbarsep"></div>
        <div class="toptoolbarbtn">帮助</div>
    </div>
</div>
<div id="toptoolbarcontent">
</div>
