

  <div id="testDivccc" class="menuParent">
    <div style="width:100px;" class="menuLabel">
      <span tabindex="0" id="userNavLabel" style="">liu hailor</span><div  class="menuButtonArrow">V</div>
    </div>
    <div class="menuContent" >
      <span><a href="www.google.com">googlexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a></span>
      <br/>
      <span><a href="www.google.com">google</a></span>
      <br/>
      <span><a href="www.google.com">google</a></span>
      <br/>
      <span><a href="www.google.com">google</a></span>
      <br/>
      <span><a href="www.google.com">google</a></span>
      <br/>
      <span><a href="www.google.com">google</a></span>
      <br/>
    </div>
  </div>
<script type="text/javascript">

  GY.use("irm","event-mouseenter",function(Y){
    Y.irm.menuButton("testDivccc")
  });
</script>
