<script type="text/javascript">
  $(document).ready(function(){
    $('.functions').find('a[zone]:first').trigger('click');
  });
</script>
<%= breadcrumbs %>
<table width="100%" cellspacing="0" cellpadding="4" border="0">
	<tr>
    	<td width="250" valign="top">
        	<div id="leftnavigations">
                <table width="250" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td>
                            <div>
                                <table class="leftnavigation" cellspacing="0">
                                    <tbody>
                                        <tr class="navigationheader">
                                            <td>我的项目</td>
                                        </tr>
                                        <tr class="navigationbody">
                                            <td>
                                                <a href="javascript:void(0);">GMCC</a>
                                                <a href="javascript:void(0);">上海松下</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <table class="leftnavigation" cellspacing="0">
                                    <tbody>
                                        <tr class="navigationheader">
                                            <td>公告栏</td>
                                        </tr>
                                        <tr class="navigationbody">
                                            <td>
                                                <a href="javascript:void(0);">MIS上线公告</a>
                                                <a href="javascript:void(0);">合同系统停机通知</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
<div>
                                    <table class="leftnavigation" cellspacing="0">
                                        <tbody>
                                            <tr class="navigationheader">
                                                <td>子功能</td>
                                            </tr>
                                            <tr class="navigationbody functions">
                                                <td>
                                                    <a href="/product_modules/index" zone="system_content">产品模块</a>
                                                    <a href="/identities" zone="system_content">帐号</a>
                                                    <a href="/lookup_types/index" zone="system_content">快速编码</a>
                                                    <a href="/languages/index" zone="system_content">语言信息</a>
                                                    <a href="/conditions/index" zone="system_content">触发条件</a>
                                                    <a href="/actions/index" zone="system_content">执行动作</a>
                                                    <a href="/scripts/index" zone="system_content">服务宏</a>
                                                    <a href="/mail_templates/index" zone="system_content">邮件模板</a>
                                                    <a href="/currencies/index" zone="system_content">币种</a>
                                                    <a href="/regions/index" zone="system_content">区域</a>
                                                    <a href="/companies/index" zone="system_content">公司</a>
                                                    <a href="/functions/index" zone="system_content">功能</a>
                                                    <a href="/function_groups/index" zone="system_content">功能组</a>
                                                    <a href="/permissions/index" zone="system_content">权限</a>
                                                    <a href="/menus/index" zone="system_content">菜单</a>
                                                    <a href="/auth_sources/index" zone="system_content">认证源</a>
                                                    <a href="/global_settings/index" zone="system_content">全局设置</a>
                                                    <a href="/organizations/index" zone="system_content">组织</a>
                                                    <a href="/departments/index" zone="system_content">部门</a>
                                                    <a href="/flex_value_sets/index" zone="system_content">值集</a>
                                                    <a href="/operational_catalogs/index" zone="system_content">服务类别</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                          
                        </td></tr>
                    </tbody>
                </table>
            </div>
            
        </td>
        <td width="87%" valign="top">
            <div>
            <div id="system_message_box"></div>
            <div id="system_content"></div>  
            </div>
        </td>
    </tr>
</table>