<table width="100%" cellspacing="0" cellpadding="4" border="0">
	<tr>
    	<td width="250" valign="top">
        	<div id="leftnavigations">
                <div class="leftnavigation">
                  <div class="leftnavheader">
                    我的项目
                  </div>
                  <div class="leftnavbody">
                        <a href="javascript:void(0);">GMCC</a>
                        <a href="javascript:void(0);">上海松下</a>
                  </div>
                </div>
                <div class="leftnavigation">
                  <div class="leftnavheader">
                    子功能
                  </div>
                  <div class="leftnavbody functions">
                        <a href="/product_modules/index" >产品模块</a>
                        <a href="/identities">帐号</a>
                        <a href="/lookup_types/index" >快速编码</a>
                        <a href="/languages/index"  >语言信息</a>
                        <a href="/conditions/index"  >触发条件</a>
                        <a href="/actions/index"  >执行动作</a>
                        <a href="/scripts/index"  >服务宏</a>
                        <a href="/mail_templates/index"  >邮件模板</a>
                        <a href="/currencies/index"  >币种</a>
                        <a href="/regions/index"  >区域</a>
                        <a href="/companies/index"  >公司</a>
                        <a href="/functions/index"  >功能</a>
                        <a href="/function_groups/index"  >功能组</a>
                        <a href="/permissions/index"  >权限</a>
                        <a href="/support_groups/index"  >支持组</a>
                        <a href="/people/index"  >人员</a>
                        <a href="/menus/index"  >菜单</a>
                        <a href="/auth_sources/index"  >认证源</a>
                        <a href="/global_settings/index"  >全局设置</a>
                        <a href="/organizations/index"  >组织</a>
                        <a href="/departments/index"  >部门</a>
                        <a href="/flex_value_sets/index"  >值集</a>
                        <a href="/operational_catalogs/index"  >服务类别</a>
                        <a href="/id_flexes/index"  >弹性域</a>
                        <a href="/id_flex_structures/index"  >弹性域结构</a>
                  </div>
                </div>
            </div>
        </td>
        <td width="100%" valign="top">
            <div>
            <div id="system_message_box"></div>
            <div id="system_content"></div>  
            </div>
        </td>
    </tr>
</table>