<script>
  $(document).ready(function(){
    $('a[zone]').live('click',function(e){
        var zone    = $(this).attr('zone');
        var source = ($(this).attr('href')||"").replace(/^\s+|\s+$/g,"");
        if(source !='#'&&$('#'+zone).length>0)
        {
          $('#'+zone).load(source,function(response, status, xhr) {init('#'+zone);});
        }        
        if(e.preventDefault) e.preventDefault();
    });

    $('.functions').find('a[zone]:first').trigger('click');
});
</script>
<table width="100%" cellspacing="0" cellpadding="4" border="0">
    	<tr>
        	<td width="250" valign="top">
            	<div id="leftnavigations">
                    <table width="250" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr><td>
                                <div>
                                    <table class="leftnavigation" cellspacing="0">
                                        <tbody>
                                            <tr class="navigationheader">
                                                <td>我的项目</td>
                                            </tr>
                                            <tr class="navigationbody">
                                                <td>
                                                    <a href="javascript:void(0);">GMCC</a>
                                                    <br>
                                                    <a href="javascript:void(0);">上海松下</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <table class="leftnavigation" cellspacing="0">
                                        <tbody>
                                            <tr class="navigationheader">
                                                <td>公告栏</td>
                                            </tr>
                                            <tr class="navigationbody">
                                                <td>
                                                    <a href="javascript:void(0);">MIS上线公告</a>
                                                    <br>
                                                    <a href="javascript:void(0);">合同系统停机通知</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <table class="leftnavigation" cellspacing="0">
                                        <tbody>
                                            <tr class="navigationheader">
                                                <td>子功能</td>
                                            </tr>
                                            <tr class="navigationbody functions">
                                                <td>
                                                    <a href="/product_modules/index" zone="system_content">产品模块</a>
                                                    <br>
                                                    <a href="/identities" zone="system_content">帐号</a>
                                                    <br>
                                                    <a href="/lookup_types/index" zone="system_content">快速编码</a>
                                                    <br>
                                                    <a href="/languages/index" zone="system_content">语言信息</a>
                                                    <br>
                                                    <a href="/conditions/index" zone="system_content">触发条件</a>
                                                    <br>
                                                    <a href="/actions/index" zone="system_content">执行动作</a>
                                                    <br>
                                                    <a href="/scripts/index" zone="system_content">服务宏</a>
                                                    <br>
                                                    <a href="/mail_templates/index" zone="system_content">邮件模板</a>
                                                    <br>
                                                    <a href="/currencies/index" zone="system_content">币种</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td></tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="87%" valign="top">
                <div>
                <div id="system_message_box"></div>
                <div id="system_content"></div>
                </div>
            </td>
        </tr>
    </table>