<%= breadcrumbs %>
<table width="100%" cellspacing="0" cellpadding="4" border="0">
  <tr>
      <td width="100%" valign="top">
          <div>
          <div id="system_message_box"></div>
          <div id="system_content" targetzone="system_content"></div>
          </div>
      </td>
  </tr>
</table>
<div class="functions" style="display:none">
  <%=link_to "",{:controller=>"irm/identities",:action=>"my_info"},:zone=>"system_content"%>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.functions').find('a[zone]:first').trigger('click');
  });
</script>