<script>
  $(document).ready(function(){
    $('#secondmenu').astab();
});
</script>
<form>
	<div class="titlebar">
    	<div class="jumpbutton"><a id="quickJump" href="javascript:void(0);">转至</a></div>
        <div class="jumpfield">跳转至ID：<input id="idsString" class="jumptofield" type="text" maxlength="16" size="12" value=""></div>
        <div class="sectiontitle"><%=menu_entry_name(params[:menu_entry_id])%></div>
    </div>
</form>
<div></div>

<table class="topmenu" cellspacing="0">
	<tbody id="secondmenu">
      <tr class="buttonrow jtabcontainer" zone="secondtoolbarcontent">
        <td class="buttonleft"></td>
        <% sub_entries(params[:menu_code]).each do |menu_item|  %>
          <td class="button jtabitem">
            <div class="buttoninside">
            <%= link_to image_tag(theme_image_path("menus/#{menu_item[:icon]}"),:class=>"menuimg"),{:controller=>menu_item[:page_controller],:action=>menu_item[:page_action],:menu_code=>menu_item[:menu_code],:pre_entry_id=>params[:menu_entry_id],:menu_entry_id=>menu_item[:menu_entry_id]} %>
            <br><%=menu_item[:name]%>
            </div>
          </td>
          <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
        <%end %>
          <td class="buttonend"></td>
          <td class="buttonright"></td>
      </tr>
    </tbody>
</table>

<div id="secondtoolbarcontent">
</div>
<div id="footer" ></div>