<form>
	<div class="titlebar">
    	<div class="jumpbutton"><a id="quickJump" href="javascript:void(0);">转至</a></div>
        <div class="jumpfield">跳转至ID：<input id="idsString" class="jumptofield" type="text" maxlength="16" size="12" value=""></div>
        <div class="sectiontitle"></div>
    </div>
</form>
<div></div>

<table class="topmenu" cellspacing="0">
	<tbody id="secondmenu">
      <tr class="buttonrow jtabcontainer" zone="secondtoolbarcontent">
        <td class="buttonleft"></td>

          <td class="buttonend"></td>
          <td class="buttonright"></td>
      </tr>
    </tbody>
</table>

<div id="secondtoolbarcontent">
</div>
<div id="footer" ></div>