<tr>
   <td class="dataCol">
      <%= text_field_tag "result[#{subject.id}]", '', :id => "row_f#{subject.id}" %>
      <br />
      <span class="prompt"><%=h subject.prompt %></span>
   </td>
   <td class="labelCol empty"></td>
   <td class="dataCol empty"></td>
</tr>
