<div style="height:10px;margin:0;"></div>
<div style="width:100%; margin: 10px 0; background:#EFEFEF; height: 20px;	border-top:2px solid #E1E8F0;	border-bottom:2px solid #E1E8F0;"></div>
<div style="height:10px;margin:0;"></div>