<div class="sidebarModule">
    <div class="sidebarModuleHeader"><h2><%= t :label_csi_last_surveys %></h2></div>
    <div class="sidebarModuleBody">
    <table>
      <tbody>
        <tr>
          <td>
            <div>
            <%= show_last_ten_survey%>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>