<tr>
   <td class="dataCol">
        <%= text_field_tag "result[#{subject.id}]", nil, :size => 35 %>        
        <br />
        <span class="prompt"><%=h subject.prompt %></span>
   </td>
   <td class="labelCol empty"></td>
   <td class="dataCol empty"></td>
</tr>
