  <div class="pbBody lightBlueBorder noLineShow">
    <div class="pbSubheader tertiaryPalette" >
      <h3>
        <%=num%>.&nbsp;<%=subject.name%>&nbsp;&nbsp;
        <% if (subject.required_flag.to_i == 1) %>
           <span class="required_answer">(<%= t(:label_csi_survey_required_input)%>)</span>
        <% end %>
        <span class="titleSeparatingColon"></span></h3>
    </div>    

    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <%= render :partial => "/csi/surveys/#{subject.input_type}_field",
               :locals => {:subject => subject} %>
        </tbody>
      </table>
    </div>
  </div>
