<%= form_tag({:controller=>"csi/surveys",:action=>"password"},:class => 'conforge') do %>    
  <p>
    <label><%= t(:access_password) %></label><br /><br />
    <%= text_field_tag :password, '', :size => 40 %>
  </p>
  <p>&nbsp;</p>
  <p><%= submit_tag t(:submit),:class => 'submit' %></p>  
<% end %>