<%= app_title(:description=>"问卷调查-图表显示") %>
  <div class="bGeneratedReport">
    <div class="bPageBlock">
      <div class="pbBody">
        <div class="pbSubblock">
          <div class="pbSubbody">
            <div class="reportOutput">
              <div id="fchArea" class="pbBody" >
                    <table style="width:100%">
                      <tr>
                        <td style="width:70%">
                           <div class="lightBlueBorder noLineShow">
                               <%= raw(show_survey_chart(@survey_id)) %>
                           </div>
                        </td>
                        <td style="width:30%"></td>
                      </tr>
                    </table>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


