<div class="sidebarModule">
    <div class="sidebarModuleHeader"><h2><%= t :label_irm_recently_objects %></h2></div>
    <div class="sidebarModuleBody">
    <table>
      <tbody>
            <%= show_recently_object_list%>
      </tbody>
    </table>
    </div>
</div>