<body id="loginpage">
    <div id="pagewrap">
        <div id="newheader">
        </div>
        <div id="gradientwrap">
            <div class="bottom">
            <div id="forgotpasswordbox">
              <div class="forgotbox">
                <form>
                  <p>请记住，您的用户名是电子邮件地址的形式 (username@company.com)，并且密码区分大小写。 重试登录。</p>
                  <p>如果仍无法登录，请在下面重置密码。</p>
                  <h1>重置密码</h1>
                  <table cellpadding="0" border="0"><tbody><tr><td>
                        <div class="inputbox">
                            <label for="name">用户名</label>
                            <span class="inputcontainer"><input type="text" class="std" tabindex="1" value="" name="un" id="un"></span>
                            <div class="grow_button_container">
                                <a tabindex="2" href="javascript:document.forgotPassword.submit();" class="grow_button"><span class="container"><span class="rightside">继续</span></span></a>
                            </div><!-- .grow_button_container -->
                        </div><!-- .inputbox -->
                        </td></tr></tbody>
                  </table>
                </form>
              </div>
            </div>
            <span id="forgotpasswordboxbottom"><!-- bottom --></span>
            </div>
        </div>
    </div>
</body>
