<h1>Login 登陆</h1>
<% Irm::Company.query_by_language("zh").each do |c|%>
    <h1><%= c[:name] %></h1>
<% end%>
<%= t(:hello) %>
<%= echo %>
<div id="winVP" style="position: relative; height: 300px; border: #cecece 1px solid; margin: 10px;">
  <%=link_to "multilingual",{:action=>"multilingual_edit"},:action_type=>"multilingual",:view_port=>"winVP"%>
</div>