<h1>Login 登陆</h1>
<% Irm::Company.query_by_language("zh").each do |c|%>
    <h1><%= c[:name] %></h1>
<% end%>
<%= t(:hello) %>
<%= echo %>
<div id="winVP" style="position: relative; height: 500px; border: #cecece 1px solid; margin: 10px;"></div>
<script>
  $(document).ready(function(){
    var div_str = "<div id='multwin' style='display:none'></div>"
    if($('#multwin').length<1){$('body').append(div_str);}
    $('#multwin',this).load("/win_edit")
    dhxWins = new dhtmlXWindows();
    dhxWins.setImagePath("/images/dhtmlx/");
    dhxWins.enableAutoViewport(false);
    dhxWins.attachViewportTo("winVP");
    var win = dhxWins.createWindow("mutil",36,42,320,200);
    win.attachObject('multwin')


  });
</script>