<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey_subject.name %>
</p>


<%= link_to 'Edit', edit_survey_subject_path(@survey_subject) %> |
<%= link_to 'Back', survey_subjects_path %>
