<div class="sidebarModule">
    <%= puts("++++++++++++++++++++++++++++++++++++" + @request_files.to_json) %>
    <div class="sidebarModuleHeader"><h2><%= t :label_icm_incident_request_attachment_list %>(<%= @request_files.size%>)</h2></div>
    <div class="sidebarModuleBody">
    <table>
      <tbody id="watcher_list">
        <%= list_all_files%>
      </tbody>
    </table>
    </div>
</div>