<div class="bPageTitle">
  <div class="ptBody">
    <div class="content">
      <h1 class="pageType"></h1>
      <h2 class="pageDescription"><%= t(:label_irm_product_module) %></h2>
      <div class="blank">&nbsp;</div>
    </div>
    <div class="links">
      <a href="javascript:void(0);" class="configLinks">此页面的帮助</a>
    </div>
    <div class="ptBreadcrumb"></div>
  </div>
</div>
<div class="filterOverview">
    <div class="bFilterView">
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;" for="fcf">视图：</label>
        <span class="fBody">
            <select title="视图：" name="fcf" id="fcf">
                <option selected="selected" value="">全部客户</option>
                <option value="">我的客户</option>
                <option value="">新建本周</option>
                <option value="">最近已查看客户</option>
            </select>
            <input type="button" title="转至！" name="go" class="btn" value=" 转至！ ">
        </span>
        <span class="fFooter">
          <a href="javascript:void(0);">编辑</a> |
          <a href="javascript:void(0);">创建新视图</a>
        </span>
      </span>
    </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_product_module_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <select title="显示所选内容" name="hotlist_mode" id="hotlist_mode"><option value="2">最近创建</option>
                <option value="1">最近修改</option>
                <option selected="selected" value="3">最近查看</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="pizza" class="datatable" style="width:100%"></div>
        <%= datatable("pizza",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"product_short_name",:label=>t(:label_irm_product_module_product_short_name),:sortable=>true},
                   {:key=>"name",:label=>t(:label_irm_product_module_name),:sortable=>true},
                   {:key=>"description",:label=>t(:label_irm_product_module_description),:sortable=>true},
                   {:key=>"installed_flag",:label=>t(:label_irm_product_module_installed_flag),:sortable=>true},
                   {:key=>"status_code",:label=>t(:active),:sortable=>true}])%>
      </div>
    </div>
</div>