<%= page_title %>
<div class="filterOverview">
    <div class="bFilterView">
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;" for="fcf">视图：</label>
        <span class="fBody">
            <select title="视图：" name="fcf" id="fcf">
                <option selected="selected" value="">全部客户</option>
                <option value="">我的客户</option>
                <option value="">新建本周</option>
                <option value="">最近已查看客户</option>
            </select>
            <input type="button" title="转至！" name="go" class="btn" value=" 转至！ ">
        </span>
        <span class="fFooter">
          <a href="javascript:void(0);">编辑</a> |
          <a href="javascript:void(0);">创建新视图</a>
        </span>
      </span>
    </div>
</div>

<%= render "data_grid" %>