<div class="bPageTitle">
  <div class="ptBody secondaryPalette">
    <a href="javascript:void(0);">
      <img src="/images/T.png" class="thumbnail_visible" width="45" height="45">
    </a>
    <div class="greeting">
      <div class="content">
          <span class="pageType">
            <h1 class="currentStatusUserName">
              <a href="javascript:void(0);">liu</a>
            </h1>
          </span>
          <span class="pageDescription"><a href="javascript:void(0);">星期六 2011年1月8日</a></span>
      </div>
    </div>
  </div>
</div>

<div id="tabView" class="bMiniTab"></div>
<%= tabview("tabView", {t(:label_irm_permission) => 'permissions/data_grid.js', t(:label_irm_product_module) => 'product_modules/data_grid.js'}) %>
  
<table class="toolsContent">
    <tbody>
        <tr>
          <td>
            <div class="toolsContentLeft">
              <div class="bSubBlock">
                <h3 class="lbHeader">报表</h3>
                <div class="lbBody">
                  <ul>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                    <li><a href="javascript:void(0);">已启用客户</a></li>
                  </ul>
                </div>
                <div class="lbBody">
                  <div class="mainLink">
                    <a href="javascript:void(0);">转至报表</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="toolsContentRight">
              <div class="bSubBlock">
                <h3 class="lbHeader">报表</h3>
                <div class="lbBody">
                  <ul>
                    <li><a href="javascript:void(0);">导入我的组织的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">导入我的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">批量删除客户</a></li>
                    <li><a href="javascript:void(0);">转移客户</a></li>
                    <li><a href="javascript:void(0);">合并客户</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
</table>