<br>
<table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                      <tr>
                          <td class="itemdetailtablelabel"><%=t(:label_irm_person_notification_lang)%>:
                          </td>
                          <td><%=f.select :notification_lang,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_from_collection_for_select(available_languages,:language_code,:wrap_description,person.notification_lang)%></td>
                      </tr>
                      <tr><td class="itemdetailtablelabel">
                              <%=t(:label_irm_person_notification_flag)%>:
                           </td>
                           <td><%=f.check_box :notification_flag%></td>
                      </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                    </td>
                    <td width="10%"></td>
                </tr>
</table>