<div class="sidebarModule">
    <div class="sidebarModuleHeader"><h2><%= t :label_skm_last_ten %></h2></div>
    <div class="sidebarModuleBody">
    <table>
      <tbody>
            <%= show_last_ten_entry_header%>
      </tbody>
    </table>
    </div>
</div>