<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @bulletin}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index", :controller => "irm/home"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">
      <div>
        <h1 style="font_size:200%"><%= @bulletin.title%></h1>
      </div>
    </div>

    <div class="pbSubsection">
        <%= @bulletin.content%>
    </div>
  </div>
</div>