<%= raw(event_calendar)%>
<script type="text/javascript">
  GY.use(function(Y){
      Y.on("mouseover", handle_quick_show, ".calendar-event-preview");
  });

  function handle_quick_show(e){
      //e.currentTarget.get("href")
      GY.use("yui2-container", "io", "yui2-dom", function(Y){
        var dialog;
        //确保没有HIDDEN的dialog，只留显示的那个，多余的全部删除
        remove_all_dialog();
        dialog = new Y.YUI2.widget.Dialog("container", {
            visible: false,
            context: [e.currentTarget.get("id"), "tl", "bl"],
            draggable: false,
            close: false
        });
        var uri = e.currentTarget.getAttribute("quick_show");


        dialog.setBody('');
        dialog.render(document.body);
        dialog.show();

        function complete(id, o, args) {
            var id = id; // Transaction ID.
            var data = o.responseText; // Response data.
            var dialog = args[0]; // 'ipsum'.
            var e = args[1];
            dialog.setBody('<div id="dia_' + e.currentTarget.get("id")+ '">' + data + '</div>');
        }

        function on_io_start_loading(id, args){
            var dialog = args[0];
            dialog.setBody('<img src="/images/indicator_medium.gif">');
        }

        Y.on('io:start', on_io_start_loading, Y, [dialog]);
        Y.on('io:complete', complete, Y, [dialog, e]);

        Y.on("click", function(e){
          var el = e.target;
          if (Y.one("#container_c") && !Y.one("#container_c").contains(el)) {
              remove_all_dialog();
          }
        }, document);

        var request = Y.io(uri);
      });

  }

  function remove_all_dialog(){
      GY.use(function(Y){
        var d = Y.one("#container_c");
        if(d){
            d.remove();
        }

      });
  }
</script>
