<div class="containers" id="id_site_group_index">
    <div id="container1" class="container"><%= render 'new_form'%></div>
    <div id="container2" class="container"><%= render 'data_grid'%></div>
</div>