<table class="toolsContent">
    <tbody>
        <tr>
          <td>
            <div class="toolsContentLeft">
              <div class="bSubBlock">
                <h3 class="lbHeader"><%= t(:report) %></h3>
                <div class="lbBody">
                  <ul>
                    <%= raw(show_module_report(category_code)) %>
                  </ul>
                </div>
                <div class="lbBody">
                  <div class="mainLink">
                    <%= link_to t(:go_to_report),url_for(:controller=>"irm/report_lists",
                                                             :action => "index") %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div id="myDrag" class="toolsContentRight">
              <div class="bSubBlock">
                <h3 class="lbHeader"><%= t(:tool) %></h3>
                <div class="lbBody">
                  <ul>
                    <li><a href="javascript:void(0);">导入我的组织的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">导入我的客户 & 联系人</a></li>
                    <li><a href="javascript:void(0);">批量删除客户</a></li>
                    <li><a href="javascript:void(0);">转移客户</a></li>
                    <li><a href="javascript:void(0);">合并客户</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
</table>