<div class="bOverviewSearch">
  <div>输入用来查找匹配自定义报表的关键字。
    <div class="pbSearch">
      <form onsubmit="if (window.ffInAlert) { return false; }if(this.search){this.search.blur();}"
            name="srch" method="GET" id="srch" action="/ui/rpt/Search">
        <input type="hidden" value="C" name="searchtype" id="searchtype">
        <input type="text" title="输入搜索关键字" size="30" name="search" maxlength="255"
               id="srch_Input" class="searchTextBox"><input type="submit" title="查找报表"
                                                            name="go" class="btn" value=" 查找报表 ">
      </form>
    </div>
  </div>
</div>

<div id="rptminitabsbody">
  <div class="bPageBlock secondaryPalette">
    <div class="pbHeader">
      <div class="buttons">
      </div>
    </div>
    <div class="pbBody">
      <div class="reportList">
        <%= raw(show_category_report("","INCIDENT_REQUEST",{:report_group_name=>t(:label_icm_incident_report_all)})) %>
      </div>
    </div>
  </div>
</div>