@charset "utf-8";
/* CSS Document */
#main{

}
table, tr, td, th{border-spacing: 0;line-height: 135%;}
table, td, tr {font-size: 1em;}
table{padding-top: 0;border-width: 0; border-spacing: 0;}

body{
	font-size: 12px;
	line-height: 1.125em;
}

.titlebar {background: #DDDDDD;margin: -1px 0 0;padding: 9px 10px;}
.sectiontitle {color: #222222;font-weight: bold;}
.floatright{ float:right !important;}
.floatleft{float:left !important;}
.headertitle{font-weight:bold; float:left;}

div.sysmsgbox, div.sysmsgdetail{
    background: none repeat scroll 0 0 #fff1a8;
    padding: 1px 10px 1px 10px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    word-wrap:break-word;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');  /*兼容Firefox，调用ellipsis.xml文件，注意ellipsis.xml文件路径*/
}

div.sysmsgbox{
    max-width: 300px;
    max-height: 16px;
}

div.sysmsgdetail a{
    padding: 1px 8px 1px 0;
}

div.msgcontainer{
    position:absolute;
    text-align: center;
    z-index: 10;
    top: 113px;
    left: 480px;
}

div#banner{

}
div#footer{

}

div#toptoolbar{
	background-color: #000;
	height: 25px;
	overflow: hidden;
	padding: 0 5px 0 5px;
	position: relative;
	white-space: nowrap;
}

div.toptoolbarbtn{
	float:left;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	cursor: pointer;
	padding: 1px 5px 0 5px;
}
div.toptoolbarbtn a:link, div.toptoolbarbtn a:visited, div.toptoolbarbtn a:hover{color: #fff; text-decoration: none;}
div.toptoolbarbtn:hover{background: url("../images/toptoolbar_bg_over.gif") repeat-x scroll 0 0 #000;}
div.toptoolbarbtn:active{background: none repeat-x scroll 0 0 #666666;}

div.toptoolbarsep{
	border: 1px solid #000;
	background-color: #4D4D4D;
	width: 1px;
	height: 23px;
	font-size: 1px;
	float:left;
	margin: 1px 5px 0 5px;
}

div.jumpbutton {
	background: url("../images/NavButton_slice.gif") repeat-x scroll 0 0 #C9E1F1;
	border-color: #818181 #909090 #909090;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	display: block;
	float: right;
	margin-top: -4px;
	padding: 3px 5px;
}
div.jumpbutton a{
	color: #000000;
	margin-top: 3px;
	text-decoration: none;

}
div.jumpfield {
	display: block;
	float: right;
	margin-top: -4px;
	padding-right: 4px;
}

table.topmenu{width: 100%;}
table.topmenu tr.buttonrow td.button{
	background: url("../images/top_gradient.gif") repeat-x scroll 0 0 #ccddee;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 80px;
	cursor: pointer;
	padding-bottom: 4px;
	padding-top: 2px;
}
table.topmenu tr.buttonrow td.button a{
	white-space: nowrap;
}
table.topmenu tr.buttonrow td.button img{
	border: medium none;
	margin: 0 2px;
	padding: 2px 0 4px;
	vertical-align: top;
}
table.topmenu tr.buttonrow td.button a:link,
table.topmenu tr.buttonrow td.button a:visited {
	color: #000000;
	text-decoration: none;
}
table.topmenu tr.buttonrow td.button:hover,
table.topmenu tr.buttonrow td.button:hover a,
table.topmenu tr.buttonrow td.button a:hover {
	background: none scroll 0 0 #99bbdd;
	color: #000000;
	text-decoration: none;
}
table.topmenu tr.buttonrow td.buttonend{
	background: url("../images/top_gradient.gif") repeat-x scroll 0 0 #CCDDEE;
	border-bottom: medium none;
	border-top: 0px solid #ffffff;
	width: auto;
}
table.topmenu tr.buttonrow td.selected{font-weight:bold; background: none repeat scroll 0 0 #ffffff;}
table.topmenu tr.buttonrow td.selected:hover,
table.topmenu tr.buttonrow td.selected:hover a,
table.topmenu tr.buttonrow td.selected a:hover {
	background: none no-repeat scroll 0 0 #ffffff;
	color: #000000;
	text-decoration: none;
}

td.verticalseparatornoborder{width: 1px; padding: 0 !important;}

table.leftnavigation tr.navigationheader td{
	background-color: #ccddee;
	border-color: #99bbdd;
	border-style: solid;
	border-width: 1px 0 0;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 12px;
	font-weight: bold;
}
table.leftnavigation tr.navigationbody td{
	background-color: #F2F5F9;
	padding: 10px 14px 10px 14px;
	border-color: #ccddee;
	border-style: solid;
	border-width: 1px;
}
table.leftnavigation{
	width: 100%;
	margin-bottom: -1px;
}

div.container {padding-bottom: 5px;}
div.container div.containerheader{ background: none repeat scroll 0 0 #99BBDD; height:25px; line-height: 25px; padding: 0px 20px 0px 20px;}
div.container div.containerfooter{ background: none repeat scroll 0 0 #d4d2d0; height:25px; line-height: 25px; padding: 0px 20px 0px 20px;}
div.container div.colorheader{background: url("../images/containerheader_bg.gif") repeat-x scroll 0 0 #AACCEE !important;}

div.button {
	background: url("../images/button_background_gold.gif") repeat-x scroll center bottom #EDEBCA;
	border: 1px solid #888888;
	float: left;
	margin-left: 6px;
	margin-top: 1px;
    line-height: 20px;
}
div.button:hover {background: url("../images/button_background_hover.gif") repeat-x scroll center bottom #EDEBCA;}
div.disable{ background: none repeat scroll #EDEBE2 !important;}
div.disable a{ color: #6E6E6E !important;line-height: 20px;}
div.button a {
	text-decoration: none;
	color:#000;
	display: inline-block;
	padding: 0 8px;
	height: 20px;
	line-height: 20px;
}

table.tabtable{
	margin-top: 5px;
	width:100%;
}
table.tabtable td, table.tabtable th{
    height: 0;
    line-height: 0;
    vertical-align: middle;
}
td.tabbody, td.tabbody a{
	font-weight: bold;
	text-decoration: none;
	width: auto;
	color: #000000;
	white-space: nowrap;
}

table.paddedtable{
	width: 100%;
	border-style: solid;
	border-width: 0 1px;
	border-color: #ccc;
}
table.paddedtable, table.paddedtable td{padding: 4px; vertical-align:top; }
table.paddedtable td.paddedtablelabel{ width: 130px;}

input.halfdesc, textarea.halfdesc{width: 300px;}
input.titledesc, textarea.titledesc{width: 630px;}
.inputrequired{background-color:#FFFFCC;}
.inputdisable{background-color:#CCC;}

span.textrequired{color:#990000;}

table.twocolumnstable{width:100%;border: #cccccc solid; border-width: 0 1px 0 0; }
table.twocolumnstable td.twocolumn{	width: 40%; vertical-align: top; border: #cccccc solid; border-width: 0 0 0 1px; padding-left: 15px;}

table.itemdetailtable{width: 100%;}
table.itemdetailtable td.itemdetailtablelabel{ width: 20%; text-align:right; padding-right: 10px;}

div#breadcrumbs{margin: 3px 0 0;padding: 0 0 0 5px;}
div#breadcrumbs a{	text-decoration: none;	color: #0055DD;}
div#breadcrumbs a:hover{	text-decoration:underline;	color: #0055DD;}
