@charset "utf-8";
body, td {color:#222222; font-family:Arial,Helvetica,sans-serif;}
body {font-size:75% !important;}
img {border:0 none !important;}
body a:hover{color: #015BA7;}
a {color:#333435;}

/***************** top search area ***********************/
.bPageHeader .phHeader td.searchCell {vertical-align:middle;white-space:nowrap;}
.headerSearchContainer {
    border:0 none;
    font-family:Arial;
    height:24px;
    margin-left:21px;
    position:relative;
    width:270px;
}
.headerSearchLeftRoundedCorner, .headerSearchContainer .headerSearchOptions {padding-left:11px;}
.headerSearchLeftRoundedCorner {background:url("../images/unified_search_sprite.png") no-repeat scroll left -216px transparent;}
.searchBoxClearContainer {
    background:url("../images/unified_search_background_sprite.png") repeat-x scroll left -168px transparent;
    position:absolute;
    width:192px;
}
.headerSearchLeftRoundedCorner, .headerSearchRightRoundedCorner, .searchBoxClearContainer {
    border:0 none;
    display:inline-block;
    height:24px;
}
#phSearchInput.headerSearchBoxGhostText {color:#7D7D84;}
.headerSearchLeftRoundedCorner #phSearchInput {
    background-color:#FFFFFF;
    border:0 none;
    color:#222222;
    font-family:Arial;
    font-size:100%;
    height:16px;
    margin:0;
    padding:0;
    position:relative;
    top:4px;
    width:172px;
}
.headerSearchRightRoundedCorner {
    background:url("../images/unified_search_sprite.png") no-repeat scroll right -168px transparent;
    border-left:1px solid #DDDDDD;
    cursor:pointer;
    left:203px;
    padding-left:0;
    padding-right:11px;
    position:absolute;
}
.headerSearchRightRoundedCorner #phSearchButton {
    background:url("../images/unified_search_background_sprite.png") repeat-x scroll left -120px transparent;
    border:0 none;
    color:#1797C0;
    cursor:pointer;
    font-family:Arial;
    font-size:90%;
    font-weight:bold;
    height:24px;
    margin:0;
    overflow:visible;
    padding-left:8px;
    padding-right:0;
    width:auto;
}
.headerSearchLeftRoundedCorner, .headerSearchContainer .headerSearchOptions {padding-left:11px;}
.headerSearchOptions {margin-top:4px;}
a.headerSearchOptionsLink, a.headerSearchOptionsLink:hover {color:#FFFFFF;font-size:0.92em;text-de}
a.headerSearchOptionsLink {text-decoration:none;}
/*******************************************************************/

.pageTitleIcon {
    display:inline;
    float:left;
    margin-right:5px;
    width:32px;
    border: none !important;
}

img.img1Small{}
img.img1General{
    background-image:url("/images/master.png");
    background-position:0 -950px;
    height:32px;
    width:32px;
}
img.img1Big{}

img.img2Small{}
img.img2General{
    background-image:url("/images/master.png");
    background-position:0 -1022px;
    height:32px;
    width:32px;
}
img.img2Big{}

img.img3Small{}
img.img3General{
    background-image:url("/images/master.png");
    background-position:0 -1238px;
    height:32px;
    width:32px;
}
img.img3Big{}

img.img4Small{}
img.img4General{
    background-image:url("/images/master.png");
    background-position:0 -1274px;
    height:32px;
    width:32px;
}
img.img4Big{}

img.img5Small{}
img.img5General{
    background-image:url("/images/master.png");
    background-position:0 -1094px;
    height:32px;
    width:32px;
}
img.img5Big{}

img.img6Small{}
img.img6General{
    background-image:url("/images/master.png");
    background-position:0 -1166px;
    height:32px;
    width:32px;
}
img.img6Big{}

img.img7Small{}
img.img7General{
    background-image:url("/images/master.png");
    background-position:0 -1238px;
    height:32px;
    width:32px;
}
img.img7Big{}

img.img8Small{}
img.img8General{
background-image:url("/images/forecasts32.png");
background-position:0 0;
height:32px;
width:32px;
}
img.img8Big{}

img.img9Small{}
img.img9General{
    background-image:url("/images/products32.png");
    background-position:0 0;
    height:32px;
    width:32px;
}
img.img9Big{}


.menuParent {
    text-align: left;
}
.menuParent div.menuLabel {
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px;
    padding: 0 30px 0 15px;
    height: 24px;
    line-height: 24px;
 }
.menuParent div.menuLabel .menuButtonArrow{
     float:right;
     padding-right:10px;
 }

.menuParent div.menuLabelHover{
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px;
    background:white;
    color: #1797C0;
 }
.menuParent div.menuLabelClick{
    -moz-border-radius: 11px 11px 0 0;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    background:white;
    color: #1797C0;
 }

.menuParent div.menuContent{
    display:none;
    padding: 3px 15px 3px 15px;
    -moz-box-shadow: 0 2px 4px rgba(127, 127, 127, 0.3);
 }
.menuParent div.menuContentVisual{
    display:block;
    -moz-border-radius: 11px 0 11px 11px;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-bottom-right-radius: 11px;
    -webkit-border-bottom-left-radius: 11px;
    background:white;
    min-width: 150px;
 }

.menuParent div.menuContent a {
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px;
    color: #333435;
    margin: 0 0;
    padding: 4px 15px;
    text-decoration: none;
    z-index:10000;
    display: block;
}

.menuParent div.menuContent a:hover {background-color:#E3F3FF;}
.menuLabel {
    color: #fff;
    cursor: pointer;
}
.menuItem {color: #fff;font-weight: normal;}

#pageMenu{
    -moz-border-radius:11px 11px 11px 11px;
    -webkit-border-radius: 11px;
    background:none repeat scroll 0 0 #35B4E9;
}
#pageMenu-arrow, #settingMenu-arrow {
    background:url("../images/header_mutton.png") no-repeat scroll 0 -129px transparent;
    height:5px;
    position:relative;
    right:-12px;
    top:10px;
    width:8px;
    float:right;
}
.menuLabel span{float:left;}
.menuParent div.menuLabelHover #pageMenu-arrow,
.menuParent div.menuLabelClick #pageMenu-arrow,
.menuParent div.menuLabelHover #settingMenu-arrow,
.menuParent div.menuLabelClick #settingMenu-arrow{background-position: 0 -145px;}
.messages{height:35px;}


/*************************************************************************************/
div.srch {
    font-family:'Arial','Helvetica',sans-serif;
    font-size:118%;
    font-weight:bold;
    padding:4px 3px;
}

div.srch .pbTitle {
    color:#222222;
    margin:0;
    vertical-align:middle;
    width:30%;
}
div.srch table {border-spacing:0;width:100%;}
/*************************************************************************************/
