
img.img1Small{}
img.img1General{
    background-image:url("/images/master.png");
    background-position:0 -950px;
    height:32px;
    width:32px;
}
img.img1Big{}

img.img2Small{}
img.img2General{
    background-image:url("/images/master.png");
    background-position:0 -1022px;
    height:32px;
    width:32px;
}
img.img2Big{}

img.img3Small{}
img.img3General{
    background-image:url("/images/master.png");
    background-position:0 -1238px;
    height:32px;
    width:32px;
}
img.img3Big{}

img.img4Small{}
img.img4General{
    background-image:url("/images/master.png");
    background-position:0 -1274px;
    height:32px;
    width:32px;
}
img.img4Big{}

img.img5Small{}
img.img5General{
    background-image:url("/images/master.png");
    background-position:0 -1094px;
    height:32px;
    width:32px;
}
img.img5Big{}

img.img6Small{}
img.img6General{
    background-image:url("/images/master.png");
    background-position:0 -1166px;
    height:32px;
    width:32px;
}
img.img6Big{}

img.img7Small{}
img.img7General{
    background-image:url("/images/master.png");
    background-position:0 -1238px;
    height:32px;
    width:32px;
}
img.img7Big{}

img.img8Small{}
img.img8General{
background-image:url("/images/forecasts32.png");
background-position:0 0;
height:32px;
width:32px;
}
img.img8Big{}

img.img9Small{}
img.img9General{
    background-image:url("/images/products32.png");
    background-position:0 0;
    height:32px;
    width:32px;
}
img.img9Big{}

