/******login form and login forgot password form**********************/

#main-logo {
background:url("../images/main-logo.png") no-repeat scroll left top transparent;
    display:block;
    height:124px;
    margin:4px 0 0 16px;
    overflow:hidden;
    position:absolute;
    width:300px;
    z-index:10;
}

.login_form_box #login_form .loginError {
    color:#FF0000;
    padding-bottom:10px;
    text-align:center;
    width:310px;
}

#forgotpasswordbox {
    background:url("../images/login_form_wide.png") no-repeat scroll 0 0 transparent;
    min-height:300px;
    padding:42px 108px 50px 43px;
    width:744px;
}
#forgotpasswordboxbottom {
    background:url("../images/login_form_wide_bottom.png") no-repeat scroll 0 0 transparent;
    display:block;
    height:28px;
    margin-bottom:26px;
    width:895px;
}

.login_form_box .grow_button .rightside, #forgotpasswordbox .grow_button .rightside {
    background:url("../images/bk_red_button_right.png") no-repeat scroll 100% 0 transparent;
    display:block;
    padding:9px 16px 12px 13px;
}

#forgotpasswordbox p {
    color:#464646;
    font-size:12px;
    line-height:19px;
    margin:0 30px 17px 0;
}

#forgotpasswordbox h1 {
    color:#000000;
    font-size:16px;
    font-weight:bold;
    line-height:22px;
    margin:0 0 4px;
    padding:5px 0 13px;
}

#forgotpasswordbox div.inputbox {
    background:none no-repeat scroll 0 0 transparent;
    overflow:hidden;
    padding-bottom:7px;
    position:relative;
}

#forgotpasswordbox div.inputbox label {
    color:#666666;
    float:left;
    font-size:12px;
    height:1.333em;
    line-height:14px;
    padding-right:5px;
    padding-top:6px;
    text-align:right;
}

#forgotpasswordbox div.inputbox span.inputcontainer {
    display:block;
    float:left;
    height:2.167em;
    padding:4px 0 0;
    width:300px;
}
#forgotpasswordbox div.inputbox span input {height:22px;margin:0;width:280px;}
#forgotpasswordbox .grow_button_container {float:left;}
#forgotpasswordbox a.grow_button {
    color:#FFFFFF;
    font-weight:normal;
    margin-left:0;
    margin-top:1px;
}
.login_form_box .grow_button, #forgotpasswordbox .grow_button, #forgotpasswordbox a.grow_button:visited {
    color:#FFFFFF;
    display:inline-block;
    font-size:11px;
    font-weight:bold;
    line-height:13px;
    margin:8px 0 0 -6px;
    min-width:1px;
    text-decoration:none;
}
#forgotpasswordbox a, #forgotpasswordbox a:visited {color:#015BA7;text-decoration:none;}
.login_form_box .grow_button .container, #forgotpasswordbox .grow_button .container {
    background:url("../images/bk_red_button.png") no-repeat scroll 0 0 transparent;
    display:block;
    margin:0 -1px 0 0;
    padding:0;
}
.login_form_box .grow_button .rightside, #forgotpasswordbox .grow_button .rightside {
    background:url("../images/bk_red_button_right.png") no-repeat scroll 100% 0 transparent;
    display:block;
    padding:9px 16px 12px 13px;
}
.login_form_box .grow_button:hover .rightside, #forgotpasswordbox .grow_button:hover .rightside {background-position: 100% -34px;}
.login_form_box .grow_button:hover .container, #forgotpasswordbox .grow_button:hover .container {background-position: 0 -34px;}
/*****************************************************************/
#loginpage #gradientwrap {
    background:url("../images/bk_bluegradient_top.png") no-repeat scroll 0 0 transparent;
    width:956px;
}
#gradientwrap {
    overflow:visible;
}
#loginpage #gradientwrap .bottom {
    background:url("../images/bk_bluegradient_bottom.png") no-repeat scroll 0 100% transparent;
    margin:0;
    overflow:hidden;
    padding:41px 0 0 33px;
    width:100%;
}
.login_form_box {
    float:left;
    margin-bottom:9px;
    width:395px;
}
.login_form_box .content_new {
    background:url("../images/login_form_new.png") no-repeat scroll 0 0 transparent;
    height:auto !important;
    margin:0;
    min-height:331px;
    overflow:hidden;
    padding:39px 10px 13px 41px;
    width:395px;
}

#loginpage #gradientwrap .login_form_box .bottom_new {
    background:url("../images/login_form_bottom_new.png") no-repeat scroll 0 100% transparent;
    display:block;
    height:28px;
    margin:0;
    padding:0;
}
.login_form_box #login_form div {
    background:none no-repeat scroll 0 0 transparent;
    overflow:hidden;
    padding-bottom:7px;
    position:relative;
    width:100%;
}
.login_form_box #login_form .inputbox label {
    height:1.333em;
    padding-bottom:4px;
    padding-right:2px;
    padding-top:4px;
}
.login_form_box #login_form div span {
    display:block;
    height:2.167em;
    padding:3px 0 0;
    width:300px;
}
.login_form_box #login_form input.txtbox {
    height:1.8em;
    height:1.333em\9;/* for ie */
    margin:0;
    width:280px;
}
.login_form_box #login_form {
    color:#666666;
    font-size:12px;
    line-height:14px;
}
.inputs {
    padding-left:10px;
}
.login_form_box #login_form .rememberme_txt {
    background-image:none;
    float:none;
    font-size:12px;
    line-height:14px;
    min-height:2.833em;
    padding:0 0 0 10px;
    width:auto;

}
.login_form_box #login_form .rememberme_txt input {float:left;}
.login_form_box #login_form .rememberme_txt label {
    float:left;
    line-height:20px;
}
.login_form_box #login_form .rememberme_txt {font-size:12px;line-height:14px;}
div.login_button a[type=submit] {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px;
    background: url("../images/btn_sprite.png") repeat-x scroll right top #E8E8E9;
    border-color: #B5B5B5 #B5B5B5 #7F7F7F;
	border-width: 1px;
    border-style: solid;
	text-decoration: none;
	color:#333333;
	display: inline-block;
	padding: 0 12px;
	height: 22px;
    font-size: 1em;
    font-weight: bold;
	line-height: 22px;
    float:left;
    margin:4px 9px 5px 12px;
}
div.login_button a:hover[type=submit]{background-position: right -30px;}
.login_form_box #login_form .login_button {
    height:2.833em;
    padding-bottom:1.75em;
}
#newheader {
    background:url("../images/header_bg.gif") no-repeat scroll 0 7px transparent;
    height:91px;
    overflow:visible;
    padding-bottom:0 !important;
    text-align:left;
    width:955px;
}
#pagewrap {
margin:0 auto;
padding:0 10px;
width:990px;
}

.login_form_box #login_form .forgotpass {
    background-color:#FFFFFF;
    color:#356FB6;
    display:block;
    margin-left:65px;
    margin-right:30px;
    margin-top:8px;
    text-decoration:none;
    width:160px;
}

#signupcontent .signupbox, .login_form_box .signupbox {
    background:url("../images/horizontal_rule_dotted362.png") no-repeat scroll 0 0 transparent;
    color:#333333;
    font-size:14px;
    line-height:17px;
    margin:0;
    padding:20px 0 0;
    text-align:center;
    width:320px;
}

#shoutoutframe {
    border:medium none;
    border-collapse:collapse;
    float:left;
    height:420px;
    margin-bottom:0;
    margin-left:8px;
    width:520px;
}
.infobar {
    background:url("../images/bk_infobar.gif") no-repeat scroll 0 0 transparent;
    clear:both;
    color:#666666;
    overflow:hidden;
    padding:15px 0 0 27px;
    width:100%;
}
.infobar_bottom {
    background:url("../images/bk_infobar_bottom.gif") no-repeat scroll 0 0 transparent;
    clear:both;
    display:block;
    height:24px;
    margin:0 0 34px;
}
.infobar .col1 {padding-left:22px;}

.infobar .col {
    float:left;
    font-size:12px;
    line-height:14px;
    margin:0 31px 0 0;
    width:381px;
}
.infobar .col h2 {
    background:url("../images/horizontal_rule378.gif") no-repeat scroll 0 100% transparent;
    font-size:15px;
    font-weight:bold;
    line-height:17px;
    margin:0 0 4px;
    padding:4px 0;
}
