<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_incident_status_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to "Export", {:action=>"show_permissions_data",:format => "xls"}%></div>
              </td>
              <td class="pbHelp">
                <div id="incidentStatusesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="route_permissions" class="datatable" style="width:100%;">
        </div>
        <%= datatable("route_permissions",url_for(:action=>"show_permissions_data",:format=>"json"),
                  [{:key=>"permission_code",:label=>t(:label_irm_permission_permission_code),:sortable=>true,:searchable=>true},
                   {:key=>"name",:label=>t(:label_irm_permission_name),:sortable=>true,:searchable=>true},
                   {:key=>"page_controller",:label=>t(:label_irm_permission_page_controller),:sortable=>true,:searchable=>true},
                   {:key=>"page_action",:label=>t(:label_irm_permission_page_action),:sortable=>true},
                   {:key=>"status_code",:label=>t(:label_irm_permission_status_code),:formatter=>"Y.irm.template",:sortable=>true}]
                   )%>
      </div>
    </div>
</div>