<html>
<head>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/application.css"></link>
</head>
<body class="setupTab setup sfdcBody">
    <div id="contentWrapper">
        <div id="AppBodyHeader" class="bPageHeader">
            <table id="phHeader" class="phHeader" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="left">
                    <img width="175" height="65" title="salesforce.com" id="phHeaderLogoImage" src="/themes/salesforce2/images/sales_logo_aloha_win11.png">
                  </td>
                  <td class="right vtop">
                    <div class="multiforce">
                      <div class="messages"></div>
                      <span class="navLinks">
                        <span class="linkElements">
                            <a href="javascript:void(0);">ivanmarkliu</a>
                            <a href="javascript:void(0);">设置</a>
                        </span>
                      </span>
                      <div id="toolbar"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table id="tabsNewBar" class="tabsNewBar" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <div id="tabNavigation" class="tabNavigation">
                                <div class="tabBarLeft"></div>
                                <table id="tabBar" class="tab" cellpadding="0" cellspacing="0">
                                    <td nowrap="nowrap" class=""><div id="homeTab">
                                        <a title="首页选项卡" href="javascript:void(0);">首页</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="settingTab">
                                        <a title="设置选项卡" href="javascript:void(0);">设置</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="projectTab">
                                        <a title="我的项目选项卡" href="javascript:void(0);">我的项目</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="reportTab">
                                        <a title="报表选项卡" href="javascript:void(0);">报表</a>
                                    </div></td>
                                </table>
                                <div class="tabBarRight"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bodyDiv_setup" class="bodyDiv">
            <div id=""></div>
            <div id=""></div>
            <div id="motifCurve">
                <div id="mc_l"></div>
                <div id="mc_r"></div>
            </div>
            <div id="bd_b">
                <div id="bd_bl"></div>
                <div id="bd_br"></div>
            </div>
            <table id="bodyTable" class="outer" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="oLeft">
                  </td>
                  <td id="bodyCell" class="oRight">
                    <%= yield %>
                  </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>