<html>
<head>
  <title>Ironmine</title>

  <script type="text/javascript" src="/javascripts/yui3.3/yui/yui-min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/login.css"></link>
  <%= render :partial => "irm/common/address_bar_logo" %>
</head>
 <%= yield %>
</html>